<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://claratsi.files.wordpress.com/2013/06/cocktail-movie.jpg);">
  <div class="container">
    <h1>Welcome to Cocktail Cruz</h1>
    <p>The first app which will allow you to create cocktails like in an Hollywood's films !</p>
    <p>(Yes you can 💪)</p>
    <p><%= link_to 'I want to create a cocktail', new_cocktail_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<h2><strong>See below some awesome cocktails</strong></h2>

<% @cocktails.each do |cocktail| %>
  <div class="card-product">
    <div class="card-product-infos">
      <h2> <%=link_to cocktail.name, cocktail_path(cocktail)%></h2>
      <p>description cocktail</p>
    </div>
  </div>
<% end %>
