<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://claratsi.files.wordpress.com/2013/06/cocktail-movie.jpg);">
  <div class="container">
    <h1>Welcome to Cocktail Cruz</h1>
    <br>
    <p>The first app which will allow you to create cocktails like in Hollywood's films !</p>
    <p>(Oh yeaaaaaaah)</p>
    <p><%= link_to 'I want to create a cocktail', new_cocktail_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<h2><strong>See below some awesome cocktails:</strong></h2>


<div class="card_container, d-flex justify-content-center">

<% @cocktails.each do |cocktail| %>
  <div class="card-product">
      <img src="https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"/>
    <div class="card-product-infos">
      <h2> <%=link_to cocktail.name, cocktail_path(cocktail)%></h2>
      <p>description cocktail</p>
    </div>
  </div>
<% end %>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <footer class="position-absolute mt-5 py-3 px-4 bg-dark text-light vw-100">
      Made with ♥ at Le Wagon
    </footer>
</div>
